<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Webcleand"
        android:usesCleartextTraffic="true">
        <activity android:name=".SuaSP"></activity>
        <activity android:name=".SuaDM" />
        <activity android:name=".SanPhamDonGia" />
        <activity android:name=".LuuSanPham" />
        <activity android:name=".Delete" />
        <activity android:name=".DanhSachSanPham" />
        <activity android:name=".DanhSachDanhMuc" />
        <activity android:name=".DanhMucID" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>